<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_customer})}|">Show Customer - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${customer}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="customer-customername-field" data-z="5cf99a69">
            	      <strong data-th-text="#{label_customer_customername}">customerName</strong>
                    <span data-th-text="*{{customerName}}">customerNameValue</span>
         	        </li>
                  <li id="customer-age-field" data-z="5e53da35">
            	      <strong data-th-text="#{label_customer_age}">age</strong>
                    <span data-th-text="*{{age}}">ageValue</span>
         	        </li>
                  <li id="customer-gender-field" data-z="2048b2c9">
            	      <strong data-th-text="#{label_customer_gender}">gender</strong>
                    <span data-th-text="*{{gender}}">genderValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
